<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>JqueryAutoComplete.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetStackInfo</servlet-name>
    <servlet-class>GetStocksInfo</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStackInfo</servlet-name>
    <url-pattern>/GetStockInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>AutoCompelete</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
</web-app>